<div class="container-fluid text-center bg-dark text-light p-5">
  <h1>Welcome to Burgers! NOM NOM NOM</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Add a Burger</h2>
      <form class="create-form">
        <div class="form-group">
          <label for="burger-name">Burger Name:</label>
          <input type="text" id="burger-name" name="name">
        </div>
        <button type="submit">Add Burger</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="text-center">Ready-to-Eat Burgers</h2>
      {{#each burgers}}
      {{#unless devoured}}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="http://placekitten.com/100/100" class="card-img" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">{{burger_name}}</h5>
            </div>
          </div>
          <div class="col-md-3">
            <button class="change-devour" data-id="{{id}}" data-devoured="true">EAT</button>
          </div>
        </div>
      </div>
      {{/unless}}
      {{/each}}
    </div>
    <div class="col-sm-6">
      <h2 class="text-center">Burger Graveyard:</h2>
        {{#each burgers}}
        {{#if devoured}}
              <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="http://placekitten.com/100/100" class="card-img" alt="...">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">{{burger_name}}</h5>
            </div>
          </div>
        </div>
      </div>
        {{/if}}
        {{/each}}
    </div>
  </div>
</div>